<!-- <h1>Built-In Login Logout</h1> -->
{% extends 'base/base.html' %}
{% block content%}

   <div class="row" style="height:120px"></div>
        <div class="center">

        <ul class="tabs">
       <li class="tab col s6"><a class="active black-text" style="font-family:Stylish;font-size:2rem">Reset Password</a></li>
      
    </ul>
     <div class="row">
     <div id="login" class="col s12">
         <h5 class="center" style="font-family:Stylish">We have sended you reset password link on your email. Please Check Your Email.</h5>
         <div class="center">
            <!--<input type="submit" value="Back to Login page" name="Back to Login page" href="user/login" class="btn black btn-large">-->
            <a href="{% url 'login' %}" class="center">Back to Login page</a>
            </div>
    </div>
    </div>
    </div>
    <div class="row" style="height:125px"></div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>
  $(document).ready(function()
  {
    $('select').select2({width: "100%"});
  });
</script>
{%endblock%}





