{% extends 'base/base.html'%}
{% load static %}
{% block content %}
<section class="about-hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="about-title-block">
                    <h1 class="title title-page text-center">How it works</h1>
                    <div class="text-wrapper text text-fs-16 text-center">
                        With Radical Storage, freeing yourself from your luggage anywhere &amp; anytime is a piece of cake. Follow these simple instructions to reserve your luggage storage and return to enjoy your holiday!
                    </div>
                </div>
            </div>
        </div>
        <div class="row about-item-block">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="about-item text-sm-center">
                    <div class="about-item-image">
                        <picture>
                            <img class=""
                                 loading="eager"
                                 src="https://assets.radical.storage/static/storage/hiw-store_bags/location-icon.svg"
                                 alt='Locate'
                                 width="68" height="80">
                        </picture>
                    </div>
                    <div class="about-item-text">
                        <h4 class="title title-section text-uppercase">1. Locate</h4>
                        <div class="text text-fs-16">
                            Find a luggage storage location near you
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="about-item text-sm-center">
                    <div class="about-item-image">
                        <picture>
                            <img class=""
                                 loading="eager"
                                 src="https://assets.radical.storage/static/storage/hiw-store_bags/book-icon.svg"
                                 alt='Book'
                                 width="68" height="80">
                        </picture>
                    </div>
                    <div class="about-item-text">
                        <h4 class="title title-section text-uppercase">2. Book</h4>
                        <div class="text text-fs-16">
                            Proceed with online booking
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="about-item text-sm-center">
                    <div class="about-item-image">
                        <picture>
                            <img class=""
                                 loading="eager"
                                 src="https://assets.radical.storage/static/storage/hiw-store_bags/store-icon.svg"
                                 alt='Store'
                                 width="68" height="80">
                        </picture>
                    </div>
                    <div class="about-item-text">
                        <h4 class="title title-section text-uppercase">3. Store</h4>
                        <div class="text text-fs-16">
                            Store your suitcases
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="about-item text-sm-center">
                    <div class="about-item-image">
                        <picture>
                            <img class=""
                                 loading="eager"
                                 src="https://assets.radical.storage/static/storage/hiw-store_bags/pick-up-icon.svg"
                                 alt='pickUp'
                                 width="68" height="80">
                        </picture>
                    </div>
                    <div class="about-item-text">
                        <h4 class="title title-section text-uppercase">4. pickUp</h4>
                        <div class="text text-fs-16">
                            Pick up your luggage
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="about-button d-flex justify-content-center">
                    <a href="/" class="btn-primary btn-regular">Book now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-steps">
    <h2 class="title title-page text-center mb-md-5">Step by step</h2>
    <div class="about-step bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="about-item-step">
                        <h4 class="title title-section text-uppercase">1. Locate</h4>
                        <p class="text-color-secondary text-fs-16 font-weight-bold text-mobile mt-4 mt-sm-5">How to find a luggage storage place near me</p>
                        <div class="about-item-step-list mt-5 mt-sm-4">
                            <ul>
                                <li class="p-0 pb-sm-3">
                                    <p class="text text-fs-16 font-weight-semibold mb-0 mb-sm-1">1. Access the Radical Storage luggage storage network</p>
                                    <p class="text text-fs-16 mb-0 mb-sm-2">by entering the website or opening the dedicated app</p>
                                </li>
                                <li class="p-0 pb-sm-3">
                                    <p class="text text-fs-16 font-weight-semibold mb-0 mb-sm-1">2. Enable geolocation</p>
                                    <p class="text text-fs-16 mb-0 mb-sm-2">(or enter an address manually)</p>
                                </li>
                                <li class="p-0 pb-sm-3">
                                    <p class="text text-fs-16 font-weight-semibold mb-0 mb-sm-1">3. Choose the luggage storage place</p>
                                    <p class="text text-fs-16 mb-0 mb-sm-2">that meets your needs</p>
                                </li>
                            </ul>
                            <p class="text text-fs-16 mt-5 mt-sm-3 mb-0">Once found your Angel, you are a few steps away from freedom!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-md-center justify-content-lg-start">
                    <div class="about-item-step-image d-flex align-items-center">
                        <div>
                            <div class="before-mask">
                                <picture>
                                    <img class="lazy"
                                         data-src="https://assets.radical.storage/static/storage/hiw-store_bags/location-icon-large.svg"
                                         alt='City, address or location'
                                         width="198" height="214.317">
                                </picture>
                            </div>

                            <div class="mask">
                                <svg class="image" viewBox="0 0 146 10">
                                    <use xlink:href="#ellipse"></use>
                                </svg>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-step">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="about-item-step">
                        <h4 class="title title-section text-uppercase">2. Book</h4>
                        <div class="text-block">
                            <p class="text-color-secondary text-fs-16 text-mobile font-weight-bold mt-4 mt-sm-5">Book your preferred luggage drop by filling out the form.
                                <br><span>No registration required</span>.</p>
                            <div class="d-flex align-items-center flex-column flex-sm-row mt-4 mb-0 mt-sm-5 mb-sm-5">
                                <div class="small-image mr-0 mr-sm-4 mb-4 mb-sm-0">
                                    <picture>
                                        <source type="image/webp"
                                                data-srcset="https://assets.radical.storage/h/281982605-44622325/img/secure_payment.webp"
                                                aria-label="Proceed with 100% secure payment, and that’s it Wired">
                                        <img class="lazy"
                                             data-src="https://assets.radical.storage/h/281982605-44622325/img/secure_payment.png"
                                             alt="Proceed with 100% secure payment, and that’s it Wired">
                                    </picture>
                                </div>
                                <span class="text text-fs-16 font-weight-semibold mt-4 mt-sm-0">Proceed with 100% secure payment, and that’s it!</span>
                            </div>
                            <p class="text text-fs-16 font-weight-semibold font-weight-mobile mt-0 mt-sm-5">
                                You have just reserved the perfect luggage storage service!
                            </p>
                            <p class="text text-fs-16">You will be redirected to the page that contains <span class="font-weight-semibold">the QR code</span>
                                and all the details about the luggage storage location, such as the business name, the full address, other contact details, and our special offers for you.</p>
                            <p class="text text-fs-16">You will also receive two emails. The former is the confirmation email, while the latter includes all the rules to drop off your bags correctly.</p>
                            <p class="text text-fs-16 font-weight-semibold">
                                Remember that you can modify the details of your booking at any time, just contact the customer service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-md-center justify-content-lg-start">
                    <div class="about-item-step-image d-flex align-items-center">
                        <div>
                            <div class="before-mask">
                                <picture>
                                    <img class="lazy"
                                         data-src="https://assets.radical.storage/static/storage/hiw-store_bags/book-icon-large.svg"
                                         alt='Book'
                                         width="198" height="214.317">
                                </picture>
                            </div>
                            <div class="mask">
                                <svg class="image" viewBox="0 0 146 10">
                                    <use xlink:href="#ellipse"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-step bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="about-item-step">
                        <h4 class="title title-section text-uppercase">3. Store</h4>
                        <div class="text-block">
                            <p class="text-color-secondary text-fs-16 text-mobile font-weight-bold mt-4 mt-sm-5 mb-4 mb-sm-0">Congratulations! You are ready now to reach our partner!</p>
                            <p class="text text-fs-16">
                                Once you arrive at the storage point, show our partner the QR code, and entrust him/her with your luggage.
                            </p>
                            <p class="text text-fs-16">
                                Also, find out if our partner has any deals for Radical Storage users! Such for example, products or services at discounted prices.
                            </p>
                            <p class="text text-fs-16">Is the QR code not working? Don’t panic, use the order number you find in the confirmation email.</p>
                            <p class="text text-fs-16">The Angel will take pictures of your items of luggage for security purposes.</p>
                            <p class="text text-fs-16 font-weight-semibold">
                                At the end of the check-in procedure, we will send you an email with the delivery receipt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-md-center justify-content-lg-start">
                    <div class="about-item-step-image d-flex align-items-center">
                        <div>
                            <div class="before-mask">
                                <picture>
                                    <img class="lazy"
                                         data-src="https://assets.radical.storage/static/storage/hiw-store_bags/store-icon-large.svg"
                                         alt='Store'
                                         width="198" height="214.317">
                                </picture>
                            </div>
                            <div class="mask">
                                <svg class="image" viewBox="0 0 146 10">
                                    <use xlink:href="#ellipse"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-step">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-12 col-md-6 col-lg-7">
                    <div class="about-item-step">
                        <h4 class="title title-section text-uppercase">4. pickUp</h4>
                        <div class="text-block">
                            <p class="text-color-secondary text-fs-16 text-mobile font-weight-bold mt-4 mt-sm-5 mb-0 mb-sm-3 d-none d-sm-block">Book your preferred luggage drop by filling out the form.</p>
                            <p class="text-color-secondary text-fs-16 text-mobile font-weight-bold mt-4 mt-sm-5 mb-0 mb-sm-3 d-block d-sm-none">Pick up your luggage</p>
                            <p class="text text-fs-16 mt-0 mt-sm-5">
                                Unfortunately, it’s time to take the train or plane, so it’s time to pick up your luggage, too.
                            </p>
                            <p class="text text-fs-16">Have you already received the notice inviting you to go to our partner to take your bags? If you haven’t received it yet, it’s a matter of time!</p>
                            <p class="text text-fs-16">Go back to our baggage deposit, show your booking receipt again, and collect your luggage in less than no time!</p>
                            <p class="text text-fs-16 font-weight-semibold">Our Angel is waiting for you and will give you back your bags in less than no time!</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 d-flex justify-content-md-center justify-content-lg-start">
                    <div class="about-item-step-image d-flex align-items-center">
                        <div>
                            <div class="before-mask">
                                <picture>
                                    <img class="lazy"
                                         data-src="https://assets.radical.storage/static/storage/hiw-store_bags/pick-up-icon-large.svg"
                                         alt='Pick-up'
                                         width="198" height="214.317">
                                </picture>
                            </div>
                            <div class="mask">
                                <svg class="image" viewBox="0 0 146 10">
                                    <use xlink:href="#ellipse"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

